{{define "title"}}About{{end}}

{{define "main"}}
    <p>Morbi rhoncus odio ac metus placerat, ut viverra libero tincidunt. In sollicitudin dapibus nulla eu pharetra. Donec dapibus nec libero at facilisis. Vivamus rutrum metus non tempus vulputate. Nulla cursus, elit et efficitur placerat, libero odio pellentesque urna, vitae venenatis augue mi in risus. Etiam ac diam auctor metus eleifend viverra ac ac libero. Donec ut magna eget libero posuere interdum ut sed odio. Maecenas eu augue non mauris fringilla malesuada luctus at dolor. Integer finibus pellentesque odio non vehicula. Nulla tristique lacus in dui pellentesque sodales. Morbi finibus interdum velit.

    Etiam sed tortor orci. Curabitur molestie ipsum quam, id gravida sem aliquam sed. Vivamus lobortis sagittis velit ut maximus. Sed quis nisl nec tortor consequat auctor. Vivamus quam magna, sodales ut ante et, convallis auctor ante. Aenean ut ipsum massa. Fusce sed ex sed ante pulvinar accumsan nec nec tortor. Sed ut erat feugiat dui bibendum efficitur consequat eu orci. Vestibulum in est et nisl semper dignissim non sit amet metus.</p>
{{end}}
