{{define "title"}}Account{{end}}

{{define "main"}}
    <table id="user_info">
        <tr>
            <td>Name</td>
            <td>{{.User.Name}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{.User.Email}}</td>
        </tr>
        <tr>
            <td>Joined</td>
            <td>{{humanDate .User.Created}}</td>
        </tr>
        <tr>
            <td>Password</td>
            <td><a href="/user/changepassword">Change Password</a></td>
        </tr>
    </table>
{{end}}