{{define "title"}}Change Password{{end}}

{{define "main"}}
    <form action="/user/changepassword" method="POST">
        <div>
            <label for="current_password_field">Current Password:</label>
            <input type="password" name="current_password" id="current_password_field" class="text_input">
        </div>
        <div>
            <label for="new_password_field">New Password:</label>
            <input type="password" name="new_password" id="new_password_field" class="text_input">
        </div>
        <div>
            <label for="new_password_confirmation_field">New Password Confirmation:</label>
            <input type="password" name="new_password_confirmation" id="new_password_confirmation_field" class="text_input">
        </div>
        <input type="submit" value="Change Password" class="button">
    </form>
{{end}}