{{define "title"}}Home{{end}}

{{define "main"}}
    {{if .Snippets}}
    <table id="snippets_table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Created</th>
            <th>ID</th>
        </tr>
        </thead>
        <tbody>
        {{range .Snippets}}
        <tr>
            <td>{{.Title}}</td>
            <td>{{humanDate .Created}}</td>
            <td>{{.ID}}</td>
        </tr>
        {{end}}
        </tbody>
    </table>
    {{else}}
        <p>There's nothing to see here... yet!</p>
    {{end}}
{{end}}
