{{define "title"}}Home{{end}}

{{define "main"}}
    {{if .Snippets}}
    <table>
        <tr>
            <td>Title</td>
            <td>Created</td>
            <td>ID</td>
        </tr>
        {{range .Snippets}}
        <tr>
            <td><a href="/snippet/view/{{.ID}}">{{.Title}}</a></td>
            <td>{{humanDate .Created}}</td>
            <td>{{.ID}}</td>
        </tr>
        {{end}}
    </table>
    {{else}}
        <p>There's nothing to see here... yet!</p>
    {{end}}
{{end}}
