{{define "title"}}Login{{end}}

{{define "main"}}
    <form action="/user/login" method="POST">
        <div>
            <label for="email">Email:</label>
            {{with .Form.FieldErrors.email}}
                <label class="error">{{.}}</label>
            {{end}}
            <input type="text" name="email">
        </div>
        <div>
            <label for="password">Password:</label>
            {{with .Form.FieldErrors.password}}
                <label class="error">{{.}}</label>
            {{end}}
            <input type="password" name="name">
        </div>
        <input type="submit" value="Login">
    </form>
{{end}}