{{define "title"}}Signup{{end}}

{{define "main"}}
    <form action="/user/signup" method="POST" novalidate>
        <div>
            <label for="name">Name:</label>
            {{with .Form.FieldErrors.name}}
                <label class="error">{{.}}</label>
            {{end}}
            <input type="text" name="name" class="text_input">
        </div>
        <div>
            <label for="email">Email:</label>
            {{with .Form.FieldErrors.email}}
                <label class="error">{{.}}</label>
            {{end}}
            <input type="text" name="email" class="text_input">
        </div>
        <div>
            <label for="password">Password:</label>
            {{with .Form.FieldErrors.password}}
                <label class="error">{{.}}</label>
            {{end}}
            <input type="password" name="password" class="text_input">
        </div>
        <input type="submit" value="Sign up" class="button">
    </form>
{{end}}