{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{template "title" .}} - Not Pastebin</title>
	<link rel='stylesheet' href='/static/css/main.css'>
	<link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'>
</head>
<body>
	<header>
		{{template "nav" .}}
	</header>
	<main>
        {{with .Flash}}
            <div class="flash">{{.}}</div>
        {{end}}
		{{template "main" .}}
	</main>
    <footer>Hi there, how it's going? :3</footer>
</body>
</html>
{{end}}
