{{define "nav"}}
	<nav>
		<a id="logo" href="/">Not Pastebin</a>
		<ul class="nav_links">
			<li><a href="/">Home</a></li>
			<li><a href="/snippet/create">Create Snippet</a></li>
			<li><a href="/about">About</a></li>
		</ul>
		<ul class="nav_links">
			{{if .AuthenticatedUser}}
				<li id="login"><a href="/user/info">Account</a></li>
			{{else}}
				<li><a href="/user/signup">Sign up</a></li>
				<li id="login"><a href="/user/login">Login</a></li>
			{{end}}
		</ul>
	</nav>
{{end}}
