@import '../fonts/Montserrat-Regular.ttf';

* {
    font-family: "Cascadia Code", "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #212121;
}

nav * {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

#logo {
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}

.flash {
    padding: 10px;
    background: mediumspringgreen;
    display: block;
    text-align: center;
}

.error {
    border-radius: 5px;
    padding: 7px;
    background: red;
    display: block;
}

.text_input {
    height: 30px;
    width: 100%;
}

.button {
    margin-top: 15px;
    padding: 3px;
}

form {
    margin: 0 auto;
    width: 30%;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 3px;
}

textarea {
    width: 100%;
    height: 200px;
}

h2 {
    padding-top: 10px;
    text-align: center;
}

td > a {
    color: darkred;
}

#user_info {
    margin: 20px auto;
}

#user_info > tbody > tr > td:nth-child(2) {
    padding-left: 10px;
}

#login {
    padding-left: 0;
}

#snippets_table {
    font-family: "Montserrat", sans-serif;
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 600px;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: 10px auto;
}

#snippets_table thead tr {
    background-color: #212121;
    color: #eeeeee;
    text-align: left;
    font-weight: bold;
}

#snippets_table th,
#snippets_table td {
    padding: 8px 15px;
}

#snippets_table tbody tr {
    border-bottom: 1px solid #dddddd;
}

#snippets_table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#snippets_table tbody tr:last-of-type {
    border-bottom: 2px solid #212121;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    text-align: center;
}

.snippet {
    margin-top: 30px;
    text-align: center;
}

time {
    margin-top: 100px;
}

#snippet_dates {
    margin-top: 30px;
}

#snippet_title {
    margin-bottom: 30px;
}